.header {
  background-color: white;
  height: 8rem;
  display: flex;
  padding: 0 0 0 22rem;
}
.header .imgDiv {
  position: relative;
  width: 19rem;
  height: 4.8rem;
  margin: auto 2rem auto 0;
}
.header .textDiv {
  line-height: 2.5rem;
  margin: auto 0;
}
.header .textDiv p {
  font-size: 2rem;
  font-weight: bold;
}

.footer {
  height: 23.1rem;
  padding: 4rem 32rem 3.1rem 32rem;
  background-color: #333333;
}
.footer .imgDiv {
  position: relative;
  width: 19rem;
  height: 4.8rem;
  margin: auto;
}
.footer .textDiv {
  margin: 2.5rem 0 3.5rem;
}
.footer .textDiv p {
  font-size: 1.6rem;
  height: 1.8rem;
  color: #fff;
}
.footer .textDiv :nth-child(1) {
  margin-bottom: 0.6rem;
}
.footer .copyright {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  margin: auto;
}
.footer .copyright p {
  font-size: 1rem;
  line-height: 1rem;
  color: #fff;
}

.firstView {
  position: relative;
  height: 70.9rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 8.9rem 0 8.2rem;
  background-color: #000;
  z-index: -2;
}
.firstView .backgroundImg {
  z-index: -1;
  opacity: 0.75;
}
.firstView .slogan {
  font-weight: bold;
  color: #fff;
  text-shadow: 0 0.3rem 0.6rem rgba(0, 0, 0, 0.5);
  text-align: center;
}
.firstView .slogan :nth-child(1) {
  font-size: 3.7rem;
  line-height: 3.7rem;
}
.firstView .slogan :nth-child(1) span {
  color: #e51a3f;
  text-shadow: 0 0 black;
}
.firstView .slogan :nth-child(1) :nth-child(1) {
  font-size: 6.5rem;
  line-height: 6.5rem;
}
.firstView .slogan :nth-child(1) :nth-child(2) {
  font-size: 4.8rem;
  line-height: 4.8rem;
}
.firstView .slogan :nth-child(2) {
  font-size: 6.9rem;
  line-height: 6.9rem;
}
.firstView .slogan :nth-child(2) :nth-child(1) {
  font-size: 6.1rem;
  line-height: 6.1rem;
}
.firstView .slogan :nth-child(2) :nth-child(2) {
  font-size: 8.5rem;
  line-height: 8.5rem;
}
.firstView .sloganImg {
  display: flex;
  margin-bottom: 11.7rem;
}
.firstView .img {
  position: relative;
}
.firstView .leftImg {
  width: 27rem;
  height: 5.6rem;
  margin-right: 6rem;
}
.firstView .rightImg {
  width: 27rem;
  height: 5.6rem;
}
.firstView .btnImg {
  width: 48rem;
  height: 11rem;
}

.hero {
  position: relative;
  height: 51.2rem;
  padding: 7.2rem 32.1rem 0;
}
.hero .backgroundImg {
  z-index: -1;
}
.hero h2 {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  font-weight: bold;
  text-align: center;
  margin: auto;
}
.hero h2 :nth-child(1) {
  margin-bottom: 2.6rem;
}
.hero h2 :nth-child(1) {
  font-size: 4.5rem;
  line-height: 4.5rem;
  color: #e51a3f;
}
.hero h2 :nth-child(2) {
  font-size: 2.4rem;
  line-height: 2.4rem;
}
.hero .content {
  display: flex;
  margin-top: 6rem;
  justify-content: space-between;
  align-items: center;
}
.hero .content .checkList .checkText {
  display: flex;
  margin-bottom: 2.9rem;
}
.hero .content .checkList .checkText .checkImg {
  position: relative;
  width: 1.8rem;
  height: 1.8rem;
  margin-right: 1.6rem;
}
.hero .content .checkList p {
  font-size: 2rem;
  line-height: 2rem;
}
.hero .content .personImg {
  position: relative;
  width: 25.7rem;
  height: 15.6rem;
}

.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5.2rem 22rem 6rem;
  position: relative;
}
.about .absolute {
  position: absolute;
}
.about .absolute .backColead {
  position: relative;
  width: 100rem;
  height: 25.16rem;
  z-index: -1;
}
.about h2 {
  font-weight: bold;
  text-align: center;
  margin-bottom: 4.6rem;
}
.about h2 :nth-child(1) {
  font-size: 5rem;
  line-height: 7.8rem;
  margin-bottom: 0.4rem;
}
.about h2 :nth-child(1) :nth-child(1) {
  font-size: 7.8rem;
  line-height: 7.8rem;
  color: #e51a3f;
}
.about h2 :nth-child(1) :nth-child(2) {
  color: #e51a3f;
  font-size: 5rem;
  line-height: 5rem;
}
.about h2 :nth-child(2) {
  font-size: 3rem;
  line-height: 3rem;
}
.about .discription {
  width: 80rem;
  margin-bottom: 5rem;
}
.about .discription p {
  font-size: 2rem;
}
.about .discription p ruby rt {
  font-size: 1.4rem;
}
.about .discription p .br {
  display: block;
}
.about .companyImg {
  width: 100%;
  display: flex;
  align-items: flex-flex-end;
  justify-content: space-between;
}
.about .companyImg .author {
  position: relative;
  width: 47.1rem;
  height: 23.4rem;
}
.about .companyImg .own {
  position: relative;
  width: 47.1rem;
  height: 24.9rem;
}

.cvContact {
  position: relative;
  height: 40rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 4.2rem 0 1rem;
  background-color: #000;
  z-index: -2;
}
.cvContact .backImg {
  z-index: -1;
  opacity: 0.55;
}
.cvContact .text {
  font-weight: bold;
  color: #fff;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  text-align: center;
  line-height: 5.8rem;
}
.cvContact .text :nth-child(1) {
  font-size: 3.6rem;
}
.cvContact .text :nth-child(2) {
  font-size: 4rem;
}
.cvContact h2 {
  position: relative;
  width: 27.9rem;
  height: 7rem;
  margin-bottom: 2.81rem;
}
.cvContact div {
  position: relative;
  width: 48rem;
  height: 13rem;
}

.reason {
  background-color: #f0f0f0;
  padding: 8.2rem 22rem 4.6111rem;
  height: 127.4rem;
}
.reason h2 {
  font-size: 5.5rem;
  line-height: 9.4rem;
  font-weight: bold;
  text-align: center;
  position: relative;
  margin-bottom: 9rem;
  z-index: 1;
}
.reason h2::before {
  content: "REASON";
  color: #e8e8eb;
  font-size: 12.5rem;
  font-weight: bold;
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  z-index: -1;
}
.reason h2 :nth-child(1) {
  margin-right: 0.6rem;
}
.reason h2 :nth-child(2) {
  margin-left: 0.6rem;
}
.reason h2 span {
  font-size: 9.4rem;
  color: #e51a3f;
}
.reason .cardList {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.reason .cardList .card {
  width: 47.5rem;
  height: 42.7rem;
  padding: 1.5rem 3rem 0;
  background-color: #fff;
  border-top-left-radius: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  margin-bottom: 5.4rem;
}
.reason .cardList .card .number {
  font-size: 6rem;
  line-height: 6rem;
  font-weight: bold;
  color: #e51a3f;
  position: absolute;
  top: -7%;
  left: 0;
  z-index: 2;
}
.reason .cardList .card .reasonImg {
  position: unset;
  margin-bottom: 2rem;
}
.reason .cardList .card .reasonImg .img {
  position: relative !important;
  width: 75% !important;
  height: unset !important;
  display: block;
  margin: auto;
}
.reason .cardList .card h3 {
  font-size: 2rem;
  line-height: 3.2rem;
  font-weight: bold;
  width: 39rem;
  text-align: center;
  margin-bottom: 2.6rem;
}
.reason .cardList .card .dis {
  font-size: 1.6rem;
  line-height: 2.9rem;
  width: 41.5rem;
}

.flow {
  padding: 9.6rem 17.9rem 14.7rem;
}
.flow h2 {
  font-size: 5.5rem;
  line-height: 5.5rem;
  font-weight: bold;
  text-align: center;
  margin-bottom: 11.2rem;
  z-index: 2;
}
.flow h2::before {
  content: "FLOW";
  font-size: 14.5rem;
  line-height: 14.5rem;
  font-weight: bold;
  position: absolute;
  color: #f8f8f8;
  z-index: -1;
}
.flow .cardList {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.flow .cardList .flowCard {
  width: 27rem;
  margin: 0 4.1rem 6.8rem;
}
.flow .cardList .flowCard .step {
  font-weight: bold;
  color: #e51a3f;
  display: flex;
  flex-direction: column;
  float: left;
}
.flow .cardList .flowCard .step :nth-child(1) {
  font-size: 1.8rem;
  line-height: 1.8rem;
}
.flow .cardList .flowCard .step :nth-child(2) {
  font-size: 4rem;
  line-height: 4rem;
}
.flow .cardList .flowCard .img {
  position: relative;
  width: 13rem;
  height: 13rem;
  margin: 0 auto 2.5rem;
}
.flow .cardList .flowCard h3 {
  font-size: 2rem;
  line-height: 2rem;
  font-weight: bold;
  text-align: center;
  margin-bottom: 1.5rem;
}
.flow .cardList .flowCard p {
  font-size: 1.6rem;
  line-height: 2.9rem;
}

.qa {
  padding: 9.7rem 0 10rem;
  background-color: #f8f8f8;
}
.qa h2 {
  font-size: 5rem;
  line-height: 5rem;
  font-weight: bold;
  text-align: center;
  margin-bottom: 12.2rem;
  position: relative;
  z-index: 2;
}
.qa h2::before {
  content: "FAQ";
  font-size: 14rem;
  line-height: 14rem;
  font-weight: bold;
  position: absolute;
  color: #b5b9be;
  opacity: 0.1;
  z-index: -1;
  text-align: center;
  top: 150%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
}
.qa .contentBox {
  width: 80rem;
  margin: auto;
}
.qa .contentBox .one {
  margin-bottom: 4rem;
}
.qa .contentBox .one .question {
  display: flex;
  border-bottom: 0.1rem solid #ced2d8;
  padding: 0 0 1.3rem;
}
.qa .contentBox .one .question :nth-child(1) {
  font-size: 3.2rem;
  line-height: 3.2rem;
  font-weight: bold;
  color: #e51a3f;
  margin-right: 0.8rem;
}
.qa .contentBox .one .question :nth-child(2) {
  font-size: 2rem;
  line-height: 2rem;
  font-weight: bold;
  display: flex;
  align-items: center;
}
.qa .contentBox .one .answer {
  display: flex;
  padding: 1.5rem 0 0;
}
.qa .contentBox .one .answer :nth-child(1) {
  font-size: 3.2rem;
  line-height: 3.2rem;
  color: #b5b9be;
  margin: 0 0.8rem 0 0.2rem;
  font-weight: bold;
}
.qa .contentBox .one .answer :nth-child(2) {
  font-size: 1.6rem;
  line-height: 1.6rem;
  display: flex;
  align-items: center;
}

.contact {
  background-color: #eaf3fa;
  padding: 7.9rem 32rem 10rem;
}
.contact .slogan {
  font-weight: bold;
  margin-bottom: 7.8rem;
}
.contact .slogan p {
  font-size: 4.6rem;
  line-height: 4.6rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.contact .slogan p span {
  font-size: 9rem;
  line-height: 9rem;
  color: #e51a3f;
}
.contact .slogan h2 {
  font-size: 6rem;
  line-height: 6rem;
  font-weight: bold;
  text-align: center;
}
.contact .contactBox {
  background-color: #fff;
  border-top-left-radius: 4rem;
  padding: 4.7rem 4rem 6rem;
}
.contact .contactBox h3 {
  font-size: 2.4rem;
  line-height: 2.4rem;
  font-weight: bold;
  text-align: center;
  margin-bottom: 4.5rem;
}
.contact .contactBox .formBox {
  border-bottom: solid 0.1rem #e2e3e5;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 0 0 2rem;
  margin-bottom: 2rem;
}
.contact .contactBox .formBox .left {
  display: flex;
  align-items: flex-end;
}
.contact .contactBox .formBox .left .title {
  font-size: 1.6rem;
  margin-right: 1.6rem;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}
.contact .contactBox .formBox .left .essential {
  font-size: 1rem;
  line-height: 1rem;
  padding: 0.3rem 1.1rem;
  color: #fff;
  background-color: #e51a3f;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
}
.contact .contactBox .formBox .right {
  display: flex;
  align-items: flex-end;
}
.contact .contactBox .formBox .right input {
  border: 0.1rem solid #b5b9be;
  border-radius: 0.3rem;
  width: 31rem;
  height: 5rem;
}
.contact .contactBox .formBox .right p {
  font-size: 1.6rem;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  margin-left: 1.85rem;
  text-align: center;
}
.contact .contactBox .btn {
  position: relative;
  width: 36.5rem;
  height: 7.5rem;
  margin: 4rem auto 0;
}

/*# sourceMappingURL=Home.module.css.map */